<nav class="topnav">
  <a class="item"><i class="fa fa-cog fa-spin"></i></a>
  <a class="item">pros</a>
  <a class="item">coct</a>
</nav>

<div class="main-containter dark-theme">
  <nav class="sidenav">
    <a class="item" routerLink=""><i class="fa fa-home"></i></a>
    <a class="item" routerLink="/projects"><i class="fa fa-project-diagram"></i></a>
    <a class="item"><i class="fa fa-cog fa-spin"></i></a>
    <a class="item"><i class="fa fa-cog fa-spin"></i></a>
    <a class="item"><i class="fa fa-cog fa-spin"></i></a>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>